[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/杂货铺老板 (marks-chan)
[access "refs/for/refs/*"]
	read = group user/杂货铺老板 (marks-chan)
	push = group user/杂货铺老板 (marks-chan)
	label-Code-Review = -2..+2 group user/杂货铺老板 (marks-chan)
	label-Verified = -1..+1 group user/杂货铺老板 (marks-chan)
	rebase = group user/杂货铺老板 (marks-chan)
	removeReviewer = group user/杂货铺老板 (marks-chan)
	submit = group user/杂货铺老板 (marks-chan)
[access "refs/heads/*"]
	read = group user/杂货铺老板 (marks-chan)
	create = group user/杂货铺老板 (marks-chan)
	push = +force group user/杂货铺老板 (marks-chan)
	pushMerge = group user/杂货铺老板 (marks-chan)
[access "refs/tags/*"]
	push = group user/杂货铺老板 (marks-chan)
	push = +force group user/杂货铺老板 (marks-chan)
